<!DOCTYPE html><!--  Last Published: Wed Jun 26 2024 14:31:33 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="667ada12e2b008b7d4b9eef6" data-wf-site="667ada12e2b008b7d4b9eee9">
<head th:insert="/fragments/header :: header"></head>
<div th:insert="/fragments/script :: script" id="id_script"></div>
<body>
  <div class="mother-div">
    <div class="html-embed w-embed"></div>
    <div class="close-flyout"></div>
    <div class="page-content-wrapper">

      <div th:insert="/fragments/menuAdmin :: menuAdmin"></div>
      <div class="content">
        <section class="criar-page-section">
          <div class="top-section-navigation">
            <a href="javascript:history.back()" class="seta-para-tras w-inline-block">
              <div class="text-block-129">q</div>
            </a>
            <div class="titulo">
              <div class="text-block-130">Configurações gerais<br></div>
            </div>
          </div>
          <div class="container">
            <div class="form-wrapper w-form" th:each="e,iterator: ${empresa}">

              <form action="/admin/edit_salvar" method="POST" id="form" name="wf-form-Criar-Fatura" data-name="Criar Fatura" enctype="multipart/form-data" class="form">
                <div class="form-section tighter">
                  <div class="criar-content-wrapper">
                    <div class="photo-upload-input-wrapper">
                      <label for="Filtro-ano-3" class="form-field-lable">Logotipo</label>

                      <label for="foto_perfil_">
                      <div id="sem_foto" class="photo-uploa" style="display:none">
                        <div class="icon upload-icon">
                          <div class="main-font-icon">4</div>
                        </div>
                        <div class="photo-upload-text">Clique para fazer upload</div>
                        <div class="photo-upload-text small-gray">Ficheiro deve ter menos de 1MB</div>
                      </div>
                      </label>
                      
                      <div id="com_foto" class="">
                        <div class="uploaded-photo-content">
                          <div class="uploaded-photo-div">
                            <div class="photo-contain">
                            <img id="foto_perfil"  th:src="@{'/imgs/empresas/'+ ${e.foto_logotipo}}" alt=""></div>
                          </div>
                          <div class="uploaded-photo-info">
                            <div class="div-block-3">
                              <div id="nome_foto" class="uploaded-image-name">[[${e.foto_logotipo}]]</div>
                              <div class="uploaded-image-resolution"></div>
                            </div>
                          </div>
                        </div>
                        <div class="_3-buttons-wrapper">
                          <a href="#"  onclick="file_explorer()" class="action-button w-inline-block">
                            <div class="icon quick-action">
                              <div class="main-font-icon">w</div>
                              <div class="button-text quick-action-text">Substituir</div>
                            </div>
                          </a><!-- 
                          <a href="#" class="action-button w-inline-block">
                            <div class="icon quick-action">
                              <div class="main-font-icon">v</div>
                              <div class="button-text quick-action-text">Eliminar</div>
                            </div>
                          </a>-->
                        </div>
                      </div>                      
                    </div>

                    <div class="form-field-wrapper">
                      <label for="name" class="form-field-lable">Nome da empresa</label>
                      <input type="text" class="form-text-field w-input" maxlength="256" th:value="${e.nomeEmpresa}" name="nomeEmpresa" data-name="Field" placeholder="" id="field" required></div>
                    <div class="form-field-wrapper">
                       <label th:if="${tipo_sub == 0 || tipo_sub == 1}" for="name" class="form-field-lable">NIF</label>
                       <label th:if="${tipo_sub == 1 && empresa.control_nif == 0}" for="name" class="form-field-lable">NIF (Apenas vai poder modificar o nif esta vez, tenha certeza do seu nif)</label>
                       <input th:if="${tipo_sub == 0}" type="text" class="form-text-field w-input" maxlength="256" th:value="${e.nif}" name="nif" data-name="Field 2" placeholder="Ex: 999999999" id="field-2"  required>
                       <input th:if="${tipo_sub == 1 && empresa.control_nif == 0}" type="text" class="form-text-field w-input" maxlength="256" th:value="${e.nif}" name="nif" data-name="Field 2" placeholder="Ex: 999999999" id="field-2"  required>
                       <input th:if="${tipo_sub == 1 && empresa.control_nif == 1}" type="text" class="form-text-field w-input" maxlength="256" th:value="${e.nif}" name="nif" data-name="Field 2" placeholder="Ex: 999999999" id="field-2"  required readonly>
                      </div>
                    <div class="form-field-wrapper">
                      <label for="name" class="form-field-lable">Endereço</label>
                      <input type="text" class="form-text-field w-input" maxlength="256" th:value="${e.endereco}" name="endereco" data-name="Field 2" placeholder="" id="field-2" required></div>
                    
                    <div class="form-field-wrapper">                    
                    <label for="field-3" class="form-field-lable">Regime do Iva</label>
                    <select id="regime" name="regime" data-name="Field 3" class="select-field w-select" required>
                        <option th:value="${e.regime}" th:text="${e.regime}" selected></option>
                        <option value="Regime de Isenção">Regime de Isenção</option>
                         <option value="IVA">IVA</option>
                         <option value="Regime simplificado">Regime simplificado</option>
                      </select>
                     
                    </div>

                    <div class="form-field-wrapper">
                      <label for="name" class="form-field-lable">Nº de telefone da empresa</label>
                      <input type="text" class="form-text-field w-input" maxlength="256" th:value="${e.telemovel}" name="telemovel" data-name="Field 2" placeholder="" id="phone"></div>
                    <div class="form-field-wrapper">
                      <label for="field-2" class="form-field-lable">E-mail</label>
                      <input type="email" class="form-text-field w-input" maxlength="256" th:value="${e.email}" name="email" data-name="Field 2" placeholder="" id="field-2">
                    </div>
                    <div class="form-field-wrapper">
						<label for="field-4" class="form-field-lable">Câmbio Euro</label>
						<input class="form-text-field w-input" maxlength="256" name="cambioEuro"  th:value="${#numbers.formatDecimal(e.cambioEuro, 1, 'POINT', 2, 'COMMA')}" data-name="Field 2" placeholder="" id="idEuro" required></div>
                    <div class="form-field-wrapper">
						<label for="field-4" class="form-field-lable">Câmbio Dolar</label>
                    <input class="form-text-field w-input" maxlength="256" name="cambioDollar"    th:value="${#numbers.formatDecimal(e.cambioDollar, 1, 'POINT', 2, 'COMMA')}" data-name="Field 2" placeholder=""  id="idDollar" required></div>
                   
                    <div class="form-field-wrapper">
						<label for="name" class="form-field-lable">Sectores</label>
                      <div class="text-block-142">O seu pedido será apresentado à empresas inscritas nestes sectores. Por favor tenha atenção com esta escolher uma vez que a mesma determinará a qualidade das propostas que receberá.</div>
                      <select   onclick="myFunction('myDIV')"  id="multiplosectores" name="sectores" data-name="Field 3" class="form-text-field w-select">
						  <option value="">Selecionar</option>                       
                        <option th:each="s:${todos}" th:value="${s.idSector}">[[${s.sector}]]</option>
                      </select>
                      <div class="div-block-127" id="myDIV" style="display: block">
                        <div class="w-layout-grid grid-15" id="sectores_selected">
							
							<div  th:each="sect,cont :${sectoresEmpresa}" th:class="'div-block-128 d_'+${sect.sectorIdfk.idSector}">
					          <div class="text-block-9"> [[${sect.sectorIdfk.sector}]] </div>
					          <a href="#"  th:onclick="'javascript:removeEmpresa(\''+ ${sect.sectorIdfk.idSector} +'\');'" class="link-4">p</a>
					        </div>
                          
                        </div>
                         <div id="selecionadas"  style="display: none" >  
                         
                        </div>
                      </div>
                    </div>

	                  <input type="hidden"  name="nome_foto_perfil" id="nome_foto_perfil" th:value="${e.foto_logotipo}">
	                  <input type="file" id="foto_perfil_" onclick="file_explorer()" name="img_logo" accept="image/*" style="display: none"> 
	                  <input type="submit" id="salvar_dados" style="display: none">  
                
                     <div class="create-div">
                    <a href="#" onclick="Salvar()" class="button main w-button">Guardar</a>
                  </div>
                    </div>
                </div>
              </form>

              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="not-valid">
    <div class="text-block-116">Dimensão de ecrã não suportada...</div>
  </div>
  <div class="close-flyout"></div>
  <script src="/js/fiinika-comercial-app.js" type="text/javascript"></script>
   <script src="/js/malsup_form.js"></script>
   <script th:inline="javascript">
	   document.querySelectorAll('#idDollar, #idEuro').forEach(function(element) {
        element.addEventListener('input', moeda);
      });
   /*<![CDATA[*/     	
	dados = [[${sectoresEmpresa}]];
	/*]]>*/
	if(dados){
		  $('#multiplosectores').removeAttr('required');
	}else{
		 $('#multiplosectores').attr('required', 'required');
	}
   //----------------------------------------------------------------------------------
   
	 var i = 0
	 var array_control = []
   // Seta array control com os dias já selecionados 	   	 
	$.each(dados,function(index, sect) { 
		//array_control[index]=t[0]	
		console.log(sect.sectorIdfk.idSector)
		$("#selecionadas").append('<input type="text" id="'+index+'" name="sector"  value="'+sect.sectorIdfk.idSector+'">')
	});
  
  function Salvar(){
    $("#salvar_dados").click()
    
  }
  
  var fimg = ""
  function file_explorer() {
      document.getElementById('foto_perfil_').click();
      document.getElementById('foto_perfil_').onchange = function() {
          fileobj = document.getElementById('foto_perfil_').files[0];
          var nome =$("#foto_perfil_").val().split("\\").pop();
          $("#nome_foto").html(nome)
      //  ajax_file_upload(fileobj);
        const file = $(this)[0].files[0]; // seleciona o arquivo do input
        const fileReader = new FileReader(); // cria o objeto FileReader
        
        if (file.size > 3 * 1024 * 1024) {
            msg = "A imagem não deve ter mais de 3 MB"
            Alerta(msg)
            this.value = ""; // Limpa o input de arquivo
            return;
        } 
        
        fileReader.onloadend = function(){ // ao carregar a imagem
           var url = 'url('+fileReader.result+')';
           $("#foto_perfil").attr("src",fileReader.result); // altera o src da imagem
         // $("#foto_cliente").css("background-image",url);// altera o src da imagem
           $("#sem_foto").css("display","none")
           $("#com_foto").css("display","block")
      }
     
       fileReader.readAsDataURL(file);
     
        $("#nome_foto_perfil").val("Something.png");
    }
  }
  
  function RemoveImg(){
          $("#com_foto").css("display","none")
      console.log($("#nome_foto_perfil").val())
    }
  
  
  $(function() {
       
        $('#form').ajaxForm({
            beforeSend: function() {               
               showLoading();
            },
            uploadProgress: function(event, position, total, percentComplete) {
              //  var percentVal = percentComplete + '%';
              //  bar.width(percentVal);
              //  percent.html(percentVal);
              //  console.log(percentVal+"jj")
            },
            complete: function(xhr) {
               // console.log(xhr);
                if(xhr.status == 404){
                  
                                  
                }else if(xhr.status == 200){  
                  if(xhr.responseText == "phone_existis"){
                    msg = "Impossível registar este número de telefone"
                    Alerta(msg)
                   }
                  if(xhr.responseText == "nif_existis"){					
                      msg = "Não é possível registar este nif"
                      Alerta(msg)
                      } 
                  if(xhr.responseText == "Sem sector"){
					  swal.close()
                      msg = "Escolha pelo menos um sector de actividade"
                      Alerta(msg)
                      }
                  if(xhr.responseText.split("_")[0] == "Sucesso"){
                	  if($("#foto_perfil_").val() != ""){
                		  uploadFile(xhr.responseText.split("_")[1])
                	  }                    
                      msg = "Dados alterados com sucesso!"
                      url = "/fiinika/configuracoes/configuracoes-gerais"                    
                      SucessoRegisto()                     
                    }
                  if(xhr.responseText == "false"){
                	  	window.location="/index"                    
                    }
                  if(xhr.responseText == "logout"){
	                	msg = "Demorou demasiado tempo tem de se autenticar novamente, clique em Login."
	                	AvisoAutenticar()
	                	
	                }
                  
                }else if(xhr.status == 500){
					swal.close()
                 msg = "Aconteceu um erro inesperado! Tente mais tarde. Caso o problema persistir contacte o suporte"
                       Error()
                }
                
                  
            }
        });
    });
    
  var hostCurrent = window.location.hostname
  
  async function uploadFile(nome) {
      let formData = new FormData();           
      formData.append("sendimage", foto_perfil_.files[0]);
      formData.append("nome", nome);
      await fetch("https://"+hostCurrent+"/app/pdf/api-logo-upload.php", {
        method: "POST", 
        crossDomain: false,
        body: formData
      })
      .then(function(data) {
    	    //console.log(data);  
      });
      //console.log('The file has been uploaded successfully.');
      
  }
  
  
    // var i = 0
	// var array_control = []
	 $('#multiplosectores').change(			 
        function() {    
       	 
     	 var c = true          	
     	 for(var j=0; j < array_control.length; j++){          	
     		 if(array_control[j] == $(this).val()){
     			 c = false;       
     			console.log("encontrou"+array_control[j])
     			 break;
     		 }
     	 }
         i= array_control.length;
         if(i>4){ 
        	 swal({
                 title: "Atingiu o limite de sectores!!",
                 text: "",
                 icon: "info"
             });
        	 
        	 
         }
         else if(c){
     	 console.log(i);
     		 array_control [i] = $(this).val()
		      	 $("#sectores_selected").append('<div class="div-block-128 d_'+i+'">'+
		          '<div class="text-block-9">'+ $('#multiplosectores').find(":selected").text()+ '</div>'+
		          '<a href="#" onclick="removeEmpresa('+i+')" class="link-4">p</a>'+
		        '</div>');
     		$("#selecionadas").append('<input type="text" id="'+i+'" name="sector"  value="'+$(this).val()+'">')
           i++
     		}
        });
	
function removeEmpresa(param){	
		
		$(".d_"+param).remove()	
		$("#"+param).remove()
		var rem = array_control.splice(array_control.indexOf(param.toString()), 1);
		//console.log(array_control.length)	
		//console.log(rem);
		if(array_control.length == 0)
			$("#multiplasempresas").val("")		
	}
    
    
function myFunction(myDIV){
	document.getElementById(myDIV).style.display = 'block';
	}
	

  
  </script>
</body>
</html>