<!DOCTYPE html><!--  Last Published: Mon Sep 19 2022 10:23:18 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="63262895b8a0d860ec5930e4" data-wf-site="63262895b8a0d849ca593091">
<head th:insert="/fragments/header :: header"></head>
<div th:insert="/fragments/script :: script" id="id_script"></div>
<body>
  <div class="mother-div">
   
    <div class="close-flyout"></div>
    <div class="page-content-wrapper">
     
      
      
      
     <div th:insert="/fragments/menuAdmin :: menuAdmin"></div>  
      
      
      
      <div class="content">
        <section class="criar-page-section">
          <div class="container">
            <div class="form-wrapper w-form"  th:each="c,iterator: ${cliente}">
             
               <form action="/cliente/edit_salvar" method="POST" id="form" name="wf-form-Criar-Fatura" data-name="Criar Fatura" enctype="multipart/form-data" class="form">
                <div class="form-section tighter">
                  <div class="criar-content-wrapper">
                    <div class="photo-upload-input-wrapper">
                    <label for="Filtro-ano-3" class="form-field-lable">Logotipo</label>
                    
                    <label for="foto_perfil_">
                      <div id="sem_foto" class="photo-upload-input-field" style="display:none">
                        <div class="icon upload-icon">
                          <div class="main-font-icon">4</div>
                        </div>
                        <div class="photo-upload-text">Clique para fazer upload</div>
                        <div class="photo-upload-text small-gray">Ficheiro deve ter menos de 1MB</div>
                      </div>
                      </label>
                      
                      <div id="com_foto" class="">
                        <div class="uploaded-photo-content">
                          <div class="uploaded-photo-div">
                            <div class="photo-contain">
                            <img id="foto_perfil"  th:src="@{'/imgs/clientes/'+ ${c.foto_logotipo}}" alt=""></div>
                          </div>
                          <div class="uploaded-photo-info">
                            <div class="div-block-3">
                              <div id="nome_foto" class="uploaded-image-name">[[${c.foto_logotipo}]]</div>
                              <div class="uploaded-image-resolution"></div>
                            </div>
                          </div>
                        </div>
                        <div class="_3-buttons-wrapper">
                          <a href="#"  onclick="file_explorer()" class="action-button w-inline-block">
                            <div class="icon quick-action">
                              <div class="main-font-icon">w</div>
                              <div class="button-text quick-action-text">Substituir</div>
                            </div>
                          </a>
                        
                        </div>
                      </div>                      
                    </div>
                    
                     <div class="form-field-wrapper">
                     <label for="name" class="form-field-lable">Nome do cliente/empresa</label>
                     <input type="text" class="form-text-field w-input" maxlength="256" name="nomeCliente" th:value="${c.nomeCliente}" data-name="Field" placeholder="" id="field" required></div>
                    
                    <div class="form-field-wrapper">                    
                    <label for="field-3" class="form-field-lable">Tipo de cliente</label>
                    <select id="tipo_cliente" name="tipo_cliente" data-name="Field 3" class="select-field w-select" required>
                        <option th:value="${c.tipo_cliente}">[[${c.tipo_cliente}]]</option>
                        <option value="Empresa">Empresa</option>
                        <option value="Particular">Particular</option>
                      </select>                     
                    </div>
                    
                    <div  th:style="${style}" id="div_nif" class="form-field-wrapper">
                    <label for="name" class="form-field-lable">NIF</label>
                    <input type="text" class="form-text-field w-input" maxlength="256" name="nif" th:value="${c.nif}" data-name="Field 2" placeholder="" id="nif">
                    </div>
                    
                    <div class="form-field-wrapper">
                    <label for="name" class="form-field-lable">Endereço</label>
                    <input type="text" class="form-text-field w-input" maxlength="256" name="endereco" th:value="${c.endereco}" data-name="Field 2" placeholder="" id="field-2" required></div>
                    
                    
                    <div class="form-field-wrapper">
                    <label for="name" class="form-field-lable">Nº de telefone</label>
                    <input type="text" class="form-text-field w-input" maxlength="256" name="telemovel" th:value="${c.telemovel}" data-name="Field 2" placeholder="" id="phone" required></div>
                    <div class="form-field-wrapper">
                    <label for="name" class="form-field-lable">E-mail</label>
                    <input type="email" class="form-text-field w-input" maxlength="256" name="email" th:value="${c.email}" data-name="Field 2" placeholder="" id="field-2"></div>
                 
                  <input type="hidden"  name="nome_foto_perfil" id="nome_foto_perfil" th:value="${c.foto_logotipo}">
                  <input type="hidden"  name="aux"  th:value="${aux}">
                  <input type="file" id="foto_perfil_" onclick="file_explorer()" name="img_logo" accept="image/*" style="display: none"> 
                  <input type="submit" id="salvar_cliente" style="display: none">  
                   <div class="create-div">
                      <a href="#" onclick="Salvar(1)" class="button main w-button">Guardar</a>
                    </div>
                     </div>
                </div>
              </form>
              
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </section>
        <div class="div-block-106">
          <a th:style="${display}" onclick="AvisoDelete()" class="action-button cncel w-inline-block">
            <div class="icon quick-action">
              <div class="main-font-icon">v</div>
              <div class="button-text quick-action-text">Apagar</div>
            </div>
          </a>
          <link rel="prefetch" href="javascript:history.back()">
        </div>
      </div>
    </div>
  </div>
      <div class="criar-page-mobile-menu">
      <a href="javascript:history.back()" class="back-button-wrapper w-inline-block">
        <div class="icon back">
          <div class="main-font-icon">q</div>
        </div>
      </a>
      <link rel="prefetch" href="javascript:history.back()">
      <div>
        <h1 class="criar-page-title">Editar Cliente</h1>
      </div>
    </div>
  <script src="/js/fiinika-comercial-app.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script src="/js/malsup_form.js"></script>
  <script th:inline="javascript">
  
  
  function Salvar(x){
	  /*if( $("#foto_perfil_").val()=="" ){		  
		  msg = "Carregue o comprovativo da despesa!"
	      Alerta()	      
	   }else{			
		}
	  */
	  if (x == 1){
		  url = "/fiinika/documentos/facturas/criar-factura"
	  }else if(x==2){
		  url = "/fiinika/clientes/criar-novo-cliente"
	  }
	  $("#salvar_cliente").click()
  }
  
  
  function file_explorer() {
      document.getElementById('foto_perfil_').click();
      document.getElementById('foto_perfil_').onchange = function() {
          fileobj = document.getElementById('foto_perfil_').files[0];
          var nome =$("#foto_perfil_").val().split("\\").pop();
          $("#nome_foto").html(nome)
      //  ajax_file_upload(fileobj);
        const file = $(this)[0].files[0]; // seleciona o arquivo do input
        const fileReader = new FileReader(); // cria o objeto FileReader
        fileReader.onloadend = function(){ // ao carregar a imagem
           var url = 'url('+fileReader.result+')';
           $("#foto_perfil").attr("src",fileReader.result); // altera o src da imagem
         // $("#foto_cliente").css("background-image",url);// altera o src da imagem
           $("#sem_foto").css("display","none")
           $("#com_foto").css("display","block")
      }
       fileReader.readAsDataURL(file);
        $("#nome_foto_perfil").val("Something");
		}
	}
  
  function RemoveImg(){
	        $("#com_foto").css("display","none")
			console.log($("#nome_foto_perfil").val())
		}
  
  
  $(function() {
       
        $('#form').ajaxForm({
            beforeSend: function() {               
            	 showLoading();
            },
            uploadProgress: function(event, position, total, percentComplete) {
             
            },
            complete: function(xhr) {
                console.log(xhr);
                if(xhr.status == 404){
                	console.log()
                	              	
                }else if(xhr.status == 200){  
                	if(xhr.responseText == "nif_existis"){
                		msg = "Não é possível registar este nif"
                		Alerta(msg)
              		  }	
	            	if(xhr.responseText == "email_existis"){
                		msg = "Não é possível registar este email"
                		Alerta(msg)
              		  }
	                if(xhr.responseText == "Sucesso"){
	                	msg = "Cliente alterado com sucesso!"
	                	url = "/fiinika/clientes/todos-clientes"
	                	SucessoRegisto()
	                }
	                if(xhr.responseText == "logout"){
	                	msg = "Demorou demasiado tempo tem de se autenticar novamente, clique em Login."
	                	AvisoAutenticar()
	                	
	                }
                }else if(xhr.status == 500){
             	   msg = "Aconteceu um erro inesperado! Tente mais tarde. Caso o problema persistir contacte o suporte"
                       Error()
                }	            	
                	
            }
        });
    });
  

	$('#tipo_cliente').change(
      function() {
      	if($(this).val()=="Particular"){
	        	 $("#div_nif").css("display","none")
	        	 $("#nif").removeAttr('required')   
      	}else{
      		$("#div_nif").css("display","block")
      		$("#nif").attr('required', 'required')
      	}
        
      });
  
  /*<![CDATA[*/     
	user = [[${aux}]];	      
	/*]]>*/
	msg = "Cliente"
	msg_elim = "Cliente eliminado com sucesso"
	url_elim = "/ajax_delete/cliente"
	url = "/fiinika/clientes/todos-clientes"
  
  </script>
</body>
</html>