<!DOCTYPE html><!--  Last Published: Wed Jun 26 2024 14:31:33 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="667ada12e2b008b7d4b9ef04" data-wf-site="667ada12e2b008b7d4b9eee9">
<head th:insert="/fragments/header :: header"></head>
<div th:insert="/fragments/script :: script" id="id_script"></div>
<body>
  <div class="mother-div">
    <div class="close-flyout"></div>
    <div th:insert="/fragments/menuAdmin :: menuAdmin"></div>
    <div class="page-content-wrapper">
      <div class="content">
        <section class="criar-page-section">
          <div class="container">
            <div class="top-section-navigation">
              <a href="javascript:history.back()" class="seta-para-tras w-inline-block">
                <div class="text-block-129">q</div>
              </a>
              <div class="titulo">
                <div class="text-block-130">Editar Utilizador<br></div>
              </div>
            </div>
            <div class="form-wrapper w-form">
              <form action="/usuario/editar-salvar"  id="form" name="wf-form-Criar-Fatura" data-name="Criar Fatura" method="POST" class="form" enctype="multipart/form-data">
                <div class="form-section tighter">
                  <div class="criar-content-wrapper">
                    <div class="photo-upload-input-wrapper">
                    <label for="Filtro-ano-3" class="form-field-lable">Imagem</label>
                    
                     <label for="foto_perfil_">
                      <div id="sem_foto" class="photo-upload-input-field">
                        <div class="icon upload-icon">
                          <div class="main-font-icon">4</div>
                        </div>
                        <div class="photo-upload-text">Clique para fazer upload</div>
                        <div class="photo-upload-text small-gray">Ficheiro deve ter menos de 1MB</div>
                      </div>
                      </label>
                      
                      <div id="com_foto" class="uploaded-photo-wrapper">
                        <div class="uploaded-photo-content">
                          <div class="uploaded-photo-div">
                            <div class="photo-contain">
                            <img id="foto_perfil" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt=""></div>
                          </div>
                          <div class="uploaded-photo-info">
                            <div class="div-block-3">
                              <div id="nome_foto" class="uploaded-image-name"></div>
                              <div class="uploaded-image-resolution"></div>
                            </div>
                          </div>
                        </div>
                        <div class="_3-buttons-wrapper">
                          <a href="#"  onclick="file_explorer()" class="action-button w-inline-block">
                            <div class="icon quick-action">
                              <div class="main-font-icon">w</div>
                              <div class="button-text quick-action-text">Substituir</div>
                            </div>
                          </a><!-- 
                          <a href="#" class="action-button w-inline-block">
                            <div class="icon quick-action">
                              <div class="main-font-icon">v</div>
                              <div class="button-text quick-action-text">Eliminar</div>
                            </div>
                          </a>-->
                        </div>
                      </div>                      
                    </div>
                    
                    <div class="form-field-wrapper">
                    <label for="name" class="form-field-lable">Nome</label>
                    <input type="text" class="form-text-field w-input" maxlength="256" name="username" th:value="${usuario.username}" data-name="Field" placeholder="" id="field" required></div>
                    <div class="form-field-wrapper">
                    <label for="Filtro-ano-2" class="form-field-lable">Tipo de Admin</label>
                      <div>
                      <select id="field-3" name="tipo" data-name="Field 3" class="select-field w-select" required>
                              <option th:value="${usuario.tipo}">[[${usuario.tipo}]]</option>
                              <option value="Admin">Admin</option>
                              <option value="Vendedor">Vendedor</option>
                        </select>
                        
                      </div>
                    </div>
                    <div class="form-field-wrapper">
                    <label for="name" class="form-field-lable">Nº de telefone</label>
                    <input type="text" class="form-text-field w-input" maxlength="256" th:value="${usuario.telemovel}"  name="telemovel" data-name="Field 2" placeholder="" id="phone" required></div>
                    <div class="form-field-wrapper">
                    <label for="name" class="form-field-lable">E-mail</label>
                    <input type="email" class="form-text-field w-input" maxlength="256" name="email" th:value="${usuario.email}" data-name="Field 2" placeholder="" id="field-2">
                    </div>
                     <div class="form-field-wrapper">
                    <label for="name" class="form-field-lable">Password</label>
                    <input type="password" class="form-text-field w-input" maxlength="256" name="password"  data-name="Field 2" placeholder="" id="field-2">
                    </div>
                 
                
                  <input type="file" id="foto_perfil_" onclick="file_explorer()" name="foto_perfil_" accept="image/*" style="display: none"> 
                  <input type="submit" id="salvar_user" style="display: none"> 
                  <input type="hidden" th:value="${aux}" name="aux"> 
                  <div onclick="Salvar()" class="create-div">
                    <a href="#" class="button main w-button">Guardar</a>
                  </div>
                                      <div class="div-block-106">
                      <a href="javascript:history.back()" class="action-button cncel w-inline-block">
                        <div class="icon quick-action">
                          <div class="main-font-icon">v</div>
                          <div class="button-text quick-action-text">Apagar</div>
                        </div>
                      </a>
                      <link rel="prefetch" href="javascript:history.back()">
                    </div>
                   </div>
                </div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="html-embed w-embed"></div>
    <div class="close-flyout"></div>
  </div>
  <div class="not-valid">
    <div class="text-block-116">Dimensão de ecrã não suportada...</div>
  </div>
  <div class="close-flyout"></div>
  <script src="/js/fiinika-comercial-app.js" type="text/javascript"></script>
  <script src="/js/malsup_form.js"></script>
   <script type="text/javascript">
  
  
  function Salvar(){
	 
	  $("#salvar_user").click()
  }
  
  
  function file_explorer() {
      document.getElementById('foto_perfil_').click();
      document.getElementById('foto_perfil_').onchange = function() {
          fileobj = document.getElementById('foto_perfil_').files[0];
          var nome =$("#foto_perfil_").val().split("\\").pop();
          $("#nome_foto").html(nome)
      //  ajax_file_upload(fileobj);
        const file = $(this)[0].files[0]; // seleciona o arquivo do input
        const fileReader = new FileReader(); // cria o objeto FileReader
        fileReader.onloadend = function(){ // ao carregar a imagem
           var url = 'url('+fileReader.result+')';
           $("#foto_perfil").attr("src",fileReader.result); // altera o src da imagem
         // $("#foto_cliente").css("background-image",url);// altera o src da imagem
           $("#sem_foto").css("display","none")
           $("#com_foto").css("display","block")
      }
       fileReader.readAsDataURL(file);
        $("#nome_foto_perfil").val("Something");
		}
	}
  
  function RemoveImg(){
	        $("#com_foto").css("display","none")
			console.log($("#nome_foto_perfil").val())
		}
  
  
  $(function() {
       
        $('#form').ajaxForm({
            beforeSend: function() {               
            	 showLoading();
            },
            uploadProgress: function(event, position, total, percentComplete) {
             
            },
            complete: function(xhr) {
                console.log(xhr);
                if(xhr.status == 404){
                	console.log()
                	              	
                }else if(xhr.status == 200){  
               	 swal.close()
                	if(xhr.responseText == "phone_existis"){
                		msg = "Não é possível registar número de telemovel, já existe."
                		Alerta(msg)
              		  }	
	            	if(xhr.responseText == "email_existis"){
                		msg = "Não é possível registar este email, já existe"
                		Alerta(msg)
              		  }
	                if(xhr.responseText == "Sucesso"){
	                	msg = "Dados alerados com sucesso!"
	                	url = "/fiinika/utilizadores/todos-utilizadores"
	                	SucessoRegisto()
	                }
	                if(xhr.responseText == "logout"){
	                	msg = "Demorou demasiado tempo tem de se autenticar novamente, clique em Login."
	                	AvisoAutenticar()	                	
	                }
                }else if(xhr.status == 500){
					swal.close()
             	   msg = "Aconteceu um erro inesperado! Tente mais tarde. Caso o problema persistir contacte o suporte"
                       Error()
                }
	      
                	
                	
            }
        });
    });
  
  $("#div_nif").css("display","none")
	$('#tipo_cliente').change(
      function() {
      	if($(this).val()=="Particular"){
	        	 $("#div_nif").css("display","none")
	        	 $("#nif").removeAttr('required')   
      	}else{
      		$("#div_nif").css("display","block")
      		$("#nif").attr('required', 'required')
      	}
        
      });
  
  </script>
</body>
</html>